#id {
    width: 50px;
    height: 50px;
    text-align: center;
}

#id, #OPEN, #CLOSE {
    float: left;
}

.gate, .tool {
    padding: 10px;
}

.alive #id {
    background-color: lightgreen;
}
.dead #id, .unknown #id {
    background-color: lightsalmon;
}
